<navbar/>
<div class="container">
    <section class="sectionInfo">
        <h2>Mis compras:</h2>
    </section>
    
    <section class="gallery">
        <div class="image-card" *ngFor="let compra of misCompras; let i = index">
            <img class="imagen" [src]="'http://localhost:8080/api/imagenes/' + compra.imagen" [alt]="compra.nombreProducto">
            <p>{{ compra.nombreProducto }}</p>
            <p>{{ compra.autor }}</p>
            <p>{{ compra.categoria }}</p>
            <p>${{ compra.precio }}</p>
            <button class="detail-btn" (click)="Confirmar(i)">ELIMINAR</button>
        </div>
    </section>
</div>