<navbar/>
<div class="container">
    <section class="gallery">
        <div class="image-card">
            <form [formGroup]="dataForm" (ngSubmit)="guardarCreacion()">
                <img *ngIf="dataForm.get('url')?.value" [src]="dataForm.get('url')?.value" alt="Vista previa de la imagen" width="150">
                <input type="file" (change)="onFileChange($event)" required>
                <input type="text" formControlName="name" placeholder="Nombre" autocomplete="off" required>
                <input type="text" formControlName="autor" placeholder="Autor" autocomplete="off" required>
                <input type="text" formControlName="categoria" placeholder="Categoria" autocomplete="off" required>
                <input type="number" formControlName="precio" placeholder="Precio" autocomplete="off" required>
                <button type="submit" class="detail-btn">GUARDAR</button>
            </form>
        </div>
    </section>
</div>